@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Montserrat',sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2,#c9d6ff);
}

.swal2-title-custom {
    color: #000;
}

.swal2-confirm-button-custom {
    background-color: #512dab !important;
    color: #fff !important;
    font-size: 12px !important;
    padding: 10px 45px !important;
    border:1px solid transparent !important;
    border-radius: 8px !important;
    font-weight: 600 !important;
    letter-spacing: 0.5px !important;
    cursor: pointer !important;
}

.swal2-box-shadow {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.td-custom {
    border-right: #fff 2px solid;
}


form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    height: auto;
    width: 350px;
    min-width: 350px;
    min-height: 350px;
}

button {
    background-color: #512dab;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border:1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

h1,
h3,
h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

input {
    background-color: gainsboro;
    border: none;
    margin:8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

#div_tbl {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    background: rgba(0, 0, 0, 0.35);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 70px 0 70px 0;
    border-radius: 40px;
    margin-left: 40px;
}

table {
    color: #fff;
    border: #fff 2px solid;
    margin-left: 20px;
}

td {

    border-top: #fff 2px solid;
}

thead {
    background: transparent;
    color: #fff;
}

.div_ins {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#btn_aceptar {
    margin-left: 150px;
    margin-bottom: 30px;
}

/* Media Queries */
@media(max-width:500px) {
    body {
        flex-direction: column;
    }

    #div_tbl {
        margin-top: 30px;
    }
}