#div3 {
    display: flex;
    align-items: center;
}

#div4 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

img {
    width: 26px;
    height: 26px;
    margin-right: 5px;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #A2C4C9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#form2 {
    background-color: #6FA8DC;
    border-radius: 25px;
    margin-top: 20px;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
}

form {
    background-color: #6FA8DC;
    border-radius: 25px;
    width: 560x;
    height: 400px;
    border: black 5px solid;
}

.dis {
    display: flex;
    align-items: center;
}

#div2 {
    display: flex;
    align-items: center;
}

input {
    margin-top: 2px;
    height: 23px;
}

h3 {
    margin-top: 5px;
    text-align: center;
}

h2 {
    text-align: center;
}

div {
    margin-left: 10px;
    margin-right: 10px;
}

#imagenMostrada {
    width: 160px;
    height: 140px;
    border-radius: 5px;
}

.dis2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    height: 30px;
    width: 149px;
    background-color: blue;
    color: white;
    margin-top: 25px;
    margin-right: 10px;
    box-shadow: 5px 5px 5px black;
}

#imagenInput {
    margin-top: 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #A2C4C9;
}

#imagenMostrada2 {
    width: 160px;
    height: 140px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
}